@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sonsie+One&display=swap');
@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #dedede;
  --primary: #0070f3;
  --secondary: #1c1c1e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* You can add a utility class for Sonsie One */
.font-sonsie {
  font-family: 'Sonsie One', cursive;
}