@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #dedede;
  --primary: #0070f3;
  --secondary: #1c1c1e;
  --accent: #ff4081;
  --border: #eaeaea;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}