@import 'tailwindcss/tailwind.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: 'DM Sans', sans-serif;
}

.my_name {
  font-family: Dancing Script, cursive;
  font-size: 6rem;
  color: #cca2f1;
}
