@import 'tailwindcss/tailwind.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  --dark: #000000;
  --gray: #282828;
  --light-gray: #7e7e7e;
}