@import 'tailwindcss/tailwind.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.heading {
  font-family: 'DM Sans', sans-serif;
  font-weight: 900;
}

.top_level_container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  scroll-snap-align: start;
}

.my_name {
  font-family: Dancing Script, cursive;
  background-image: linear-gradient(180deg, #A9FE81 11.87%, #FFE597 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#hero_vector {
  stroke-dasharray: 1436;
  animation: dash 2.5s ease-out forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1436;
  }

  to {
    stroke-dashoffset: 0;
  }
}